@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html,
body {
  height: 100%; }

.canvas {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #DCDCDC;
  background-image: url(../wooden-background.jpg); }

.pokemon-card {
  display: grid;
  height: 660px;
  width: 450px;
  min-width: 450px;
  border-radius: 15px;
  border: 15px solid #e7c30d;
  box-shadow: 10px 6px 10px 0px black;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-bottom: 15px; }
  .pokemon-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../pokemon-pattern.jpg");
    background-size: cover;
    filter: blur(4px) grayscale(70%);
    z-index: -1; }

.title-row {
  display: grid;
  grid-template-areas: "rarity rarity rarity" "name health type";
  grid-template-rows: auto 35px;
  margin: 10px 10px 0px 10px;
  align-items: center;
  column-gap: 5px; }
  .title-row .rarity {
    grid-area: rarity;
    font-weight: bold;
    font-size: 20px; }
  .title-row .name {
    grid-area: name; }
  .title-row .health {
    grid-area: health;
    font-weight: bold;
    font-size: 50px;
    text-align: right;
    color: #a80e0e; }
  .title-row img {
    display: block;
    margin-left: auto; }
  .title-row .type {
    grid-area: type;
    align-items: right;
    width: 100%; }

.character-img {
  margin: 5px 20px;
  height: 250px;
  border-bottom: 2px solid black;
  overflow: hidden;
  margin: auto; }
  .character-img img {
    height: 100%; }

.character-meta {
  background-color: rgba(255, 255, 0, 0.4);
  height: 25px;
  margin: 0px 40px;
  display: grid;
  align-items: center; }
  .character-meta p {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    font-style: italic; }

.character-ability {
  height: 75px;
  display: grid;
  grid-template-columns: 45px auto 65px;
  gap: 5px;
  align-items: center;
  justify-items: center;
  margin: 0 10px;
  border-bottom: 2px solid black; }
  .character-ability .ability-cost img {
    width: 50px; }
  .character-ability .ability-description {
    text-align: center; }
    .character-ability .ability-description .ability-name {
      font-weight: bold;
      height: 16px;
      float: left; }
    .character-ability .ability-description p {
      text-align: left; }
      .character-ability .ability-description p:before {
        content: '\00a0'; }
      .character-ability .ability-description p img {
        height: 18px;
        vertical-align: middle; }
  .character-ability .ability-damage {
    font-weight: bold;
    font-size: 30px; }

.character-stats {
  height: 45px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  .character-stats .character-stat {
    display: grid;
    justify-items: center;
    grid-template-rows: 20px 25px; }
    .character-stats .character-stat p {
      font-size: 12px;
      font-weight: bold; }

.character-description {
  height: 40px;
  margin: 0 20px;
  border: 2px solid rgba(255, 255, 0, 0.4);
  display: table;
  align-items: center; }
  .character-description p {
    font-style: italic;
    font-size: 12px;
    padding: 0 10px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    display: table-cell; }

.card-details {
  height: 15px;
  display: table;
  font-size: 9px;
  align-items: center;
  margin: auto; }
  .card-details .collector-card-number {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    font-weight: bold;
    text-align: right;
    display: flex;
    align-items: center; }
    .card-details .collector-card-number:after {
      content: "⬤";
      font-size: 9px;
      line-height: 9px;
      padding: 0 5px; }

.element-icon {
  height: 100%; }

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee; }

/*
   * Top navigation
   * Hide default border to remove 1px line.
   */
.navbar-fixed-top {
  border: 0; }

/*
   * Sidebar
   */
/* Hide for mobile, show later */
.sidebar {
  display: none; }

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee; } }

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px;
  /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px; }

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px; }

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca; }

/*
   * Main content
   */
.main {
  padding: 20px; }

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px; } }

.main .page-header {
  margin-top: 0; }

/*
   * Placeholder dashboard ideas
   */
.placeholders {
  margin-bottom: 30px;
  text-align: center; }

.placeholders h4 {
  margin-bottom: 0; }

.placeholder {
  margin-bottom: 20px; }

.placeholder img {
  display: inline-block;
  border-radius: 50%; }

/*# sourceMappingURL=deck.scss.css.map */